<div class="d-flex justify-content-center">
  <div *ngIf="!cargando" class="spinner-border text-secondary"></div>
</div>
<div *ngIf="cargando" class="chart-conteiner animated fadeIn fast">
  <ngx-charts-pie-chart

    [scheme]="colorScheme"
    [results]="covidData"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    [explodeSlices]="false"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: grey">
  </ngx-charts-pie-chart>
</div>
