<nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="#">
    <img src="assets/img/goty.png" width="30" height="30" alt="30" loading="logo">
    </a>

    <a class="navbar-brand" href="#">Covid DataCharts</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item active">
            <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Argentina</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" routerLink="/goty" routerLinkActive="active">Mundo</a>
            </li>
        </ul>
    </div>
</nav>
