<div class="d-flex justify-content-center">
  <div *ngIf="!cargando" class="spinner-border text-secondary"></div>
</div>

<div *ngIf="cargando" class="chart-conteiner animated fadeIn fast">
  <ngx-charts-bar-vertical

    [scheme]="colorScheme"
    [results]="covidData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)"
    style="fill: grey">
  </ngx-charts-bar-vertical>
</div>
