html, body {
    background-color: #1c1c1c;
}

hr {
    background-color: grey;
}

.chart-conteiner {
  display: grid;
  height: 300px;
}

.letras {
  color: grey;
}

@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/cdk/a11y-prebuilt.css";